

form {
  font-size: large;
 
}
.submit-form{
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
  /* background-image: none; */
  background-color: silver;
  height: 35vh;

}
.the-stuffs{
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color:silver ;
  align-items: center;
}
input {
  font-size: large;
  border-radius: 10px;
  border-color: aliceblue;
}
label {
  font-size: large;
  color: black;
  font-weight: bold;
}
p {
  color: black;
}
button {
  color: aliceblue;
}

select {
  border-radius: 20px;
  background-color: #2e2e2e; 
  color: white; 
  padding: 10px;
  border: 1px solid #444; 
  width: 100%;
}


#submit {
  color: aliceblue;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(84, 240, 84);
}

#updateSubmit{
  color: aliceblue;
  border-radius: 25px;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: rgb(84, 240, 84);
}
#updateSubmit:hover {
  background-color: rgb(143, 250, 143);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-color: aliceblue;
}


#sub-button{
display: flex;
justify-content: center;
align-items: center;

}
#submit:hover {
  background-color: rgb(143, 250, 143);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border-color: aliceblue;
}


.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  
}

.form-group {
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  align-items: center; 

}

@media (min-width: 600px) {
  .form-group {
    flex-direction: row;
    align-items: center; 
  }
  
  .form-group label {
    margin-right: 10px; 
  }
}

#specs {
  font-weight: bold;
}

