.content {
  color: aliceblue;
  font-weight: 300;
}
h1 {
  color: black;
}

#para {
  color: black;
}
html{
background-image: url(https://www.scania.com/content/dam/group/products-and-services/trucks/18317-001.jpg.transform/Rend_1200X630/image.jpg);
background-size: cover;
}